<% if user_signed_in? %>

  <%## ユーザー用の画面 ###%>
  <%= render "user" %>

<% elsif owner_signed_in? %>

  <%## 店舗オーナー用の画面 ###%>
  <%= render "owner" %>

<% elsif admin_signed_in? %>

  <%## 管理者アカウント用の画面 ###%>
  <%= render "admin" %>

<% else %>
  <div class="mb-3 md:mt-10 md:w-2/3 md:mx-auto">
    <h2 class="text-3xl mb-3 md:text-center">トップページ</h2>

    <%# ユーザー用 %>
    <div class="bg-white px-6 py-5 rounded-md">
      <p class="font-semibold block p-1 required mb-1">ユーザー用</p>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-sky" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-gray" %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, data: { turbo_method: :post }, class: "btn btn-outline-gray" %>
    </div>

    <%# 店舗オーナー用 %>
    <div class="bg-white px-6 py-5 rounded-md">
      <p class="font-semibold block p-1 required mb-1">店舗オーナー用</p>
      <%= link_to "新規登録", new_owner_registration_path, class: "btn btn-sky" %>
      <%= link_to "ログイン", new_owner_session_path, class: "btn btn-outline-gray" %>
      <%#= link_to "ゲストログイン", users_guest_sign_in_path, data: { turbo_method: :post }, class: "btn btn-outline-gray" %>
    </div>

    <%# 管理者アカウント用 %>
    <div class="bg-white px-6 py-5 rounded-md">
      <p class="font-semibold block p-1 required mb-1">管理者アカウント用</p>
      <%= link_to "新規登録", new_admin_registration_path, class: "btn btn-sky" %>
      <%= link_to "ログイン", new_admin_session_path, class: "btn btn-outline-gray" %>
      <%#= link_to "ゲストログイン", users_guest_sign_in_path, data: { turbo_method: :post }, class: "btn btn-outline-gray" %>
    </div>

  </div>

<% end %>
